div{
    background-color: aquamarine;
    /* text-align: right; */
}
p{
    background-color: bisque;
    width: 50%;
    /* text-align: right; */
    width: 700px;

}
li{
    text-align: left;
}
.har{
    text-align: left;
}
